
li {
  list-style: none;
}
header nav,
.footer {
  background-color: rgb(228,255,211);
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.contact-btn img {
  width: 100px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
}

.contact-btn img:hover{
  opacity: 0.7;
}


.card-img  {
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 32px;
}


.title-text{
  display: inline-block;
  border-bottom: 10px dotted #E4FFD3;
  font-size: 28px;
  padding-bottom: 20px;
}

.top {
  background-image: url(/img/top.jpg);
  background-position: center;
  padding: 100px 0;
}

.top-text h2{
  text-shadow:3px 3px 0 #FFF, -3px -3px 0 #FFF,
              -3px 3px 0 #FFF, 3px -3px 0 #FFF,
              0px 3px 0 #FFF,  0-3px 0 #FFF,
              -3px 0 0 #FFF, 3px 0 0 #FFF;
}

.top-wrapper {
  background: rgba(255,255,255,0.8);
  /* height: 100%; */
}


.contact-group li {
  width: 50%;
  margin: auto;
  padding: 5px;
}

section{
  margin-top: 100px;
}

/* ========================
about
======================== */

.about img {
  width: 100%;
  border-radius: 50px;
}

.about-item-name{
  font-weight: 700;
}


.about-item-sentence{
margin-top: 20px;
line-height: 1.5;
font-size: 20px;
}

/* ========================
skill
======================== */

.skill-container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.skill-boxes{
margin: 0 auto;
max-width: 600px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.skill-card{
  width: 50%;
  padding: 10px;
}

.skill-icon{
font-size: 250px;
}

.skill-icon img{
  width: 250px;
  height: 250px;
}

/* ========================
work
======================== */

.work-wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.work-card-img{
  width: 100%;
  /* height: 250px; */
}

.work-card-img img{
  width: 100%;
  /* height: 250px; */
}

@media screen and (max-width: 768px) {
	/* 575px以下に適用されるCSS */
  .about-item-contents{
  margin-top: 32px;
  }

  .about-item-sentence{
    margin-top: 32px;
  }

  .skill-icon{
    font-size: 30vw;
    text-align: center;
    }

  .skill-icon img{
    width: 30vw;
    height: 30vw;
  }


  .contact-group li {
    width: 100%;
    padding-bottom: 20px;
  }

  .contact-group li a {
    display: block;
  }
}

/*===============================
contact
================================*/
.contact {
  padding: 60px 160px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .contact {
    padding: 40px 16px 30px 16px;
  }
}

.contact-wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.contact-title-part {
  border-radius: 12px 12px 0px 0px;
  height: 196px;
  text-align: center;
  padding: 60px 0px;
  color: #FFF;
  background: url(../img/contact1.png) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .contact-title-part {
    padding: 40px 16px 40px 16px;
    height: 163px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-title-part {
    padding: 40px 16px 40px 16px;
    height: 163px;
  }
}

.contact-title {
  color: #FFF;
  padding-bottom: 16px;
}
@media (max-width: 767px) {
  .contact-title {
    padding-bottom: 5px;
  }
}

.contact-subtitle {
  text-align: center;
}
@media (max-width: 767px) {
  .contact-subtitle {
    font-size: 14px;
    text-align: left;
  }
}

.contact-form {
  padding: 60px 120px 44px 120px;
  background-color: #FFF;
  border-radius: 0px 0px 12px 12px;
}
@media (max-width: 767px) {
  .contact-form {
    padding: 40px 12px 24px 12px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-form {
    padding: 40px 16px 24px 16px;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact-item {
    display: block;
    margin-top: 30px;
  }
}

.contact-item-title-inline {
  font-size: 12px;
  padding: 2px 8px;
  color: white;
  background-color: #FF4646;
  margin-left: 12px;
  line-height: 1;
  border-radius: 2px;
}

.contact-first-item {
  margin-top: 0px;
}

.contact-item-title {
  width: 140px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.contact-item-input {
  margin-left: 60px;
  margin-left: 47px;
  height: 40px;
  width: 178px;
}
@media (max-width: 767px) {
  .contact-item-input {
    margin-left: 0px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-item-input {
    margin-left: 0px;
  }
}

.contact-type {
  padding: 12px;
  color: #3E3E3E;
}

.input-select {
  display: flex;
  align-items: center;
  gap: 40px;
}

.text-input {
  flex: 1;
  height: 32px;
  width: 100%;
  align-items: center;
}
.text-input input {
  width: 100%;
  height: 100%;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 767px) {
  .text-input input {
    padding-left: 0px;
  }
}

.contact-message {
  flex-direction: column;
  align-items: flex-start;
}

.contact-message-input {
  margin-top: 2px;
  margin-left: 0px;
  width: 100%;
  height: 200px;
}

.check {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .check {
    margin-top: 0px;
  }
}
.check input {
  width: 20px;
  height: 20px;
  margin: 0;
}

.check__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}
.check__btn input {
  display: none;
}

.consent-check-part {
  position: absolute;
  top: 0;
  /* 上からの位置 */
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  /* 幅 */
  width: 20px;
  /* 幅 */
  border: solid 1px #707070;
  /* 線 */
}
.consent-check-part:after {
  content: "";
  position: absolute;
  border: solid #3B69FF;
  border-width: 0 2px 2px 0;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
  opacity: 0;
  /* 透明にしておく */
}

.check__btn {
  /* □ */
  /* ✓ */
}
.check__btn input:checked + .consent-check-part {
  background: #FFF;
  /* チェック時の色 */
  border-color: #707070;
  /* チェック時の色 */
}
.check__btn input:checked + .consent-check-part:after {
  opacity: 1;
}

.modal__open-wrapper {
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-weight: 700;
}

.contact-footer-submit {
  margin-top: 54px;
  height: 50px;
}
@media (max-width: 767px) {
  .contact-footer-submit {
    text-align: center;
  }
}

.submit-btn {
  width: 173px;
  padding: 16px 50px;
  font-size: 18px;
  color: #FFF;
}

.end-message {
  display: none;
  font-weight: 700;
}

.false-message {
  display: none;
  color: red;
}

.contact-adjust {
  margin-top: 20px;
}

